<ngbd-content-wrapper component="Tabs">
  <ngbd-api-docs directive="NgbTabset"></ngbd-api-docs>
  <ngbd-api-docs interfaceName="NgbTabChangeEvent"></ngbd-api-docs>
  <ngbd-api-docs directive="NgbTab"></ngbd-api-docs>
  <ngbd-api-docs directive="NgbTabTitle"></ngbd-api-docs>
  <ngbd-api-docs directive="NgbTabContent"></ngbd-api-docs>
  <ngbd-example-box demoTitle="Tabset" [htmlSnippet]="snippets.basic.markup" [tsSnippet]="snippets.basic.code">
    <ngbd-tabset-basic></ngbd-tabset-basic>
  </ngbd-example-box>
</ngbd-content-wrapper>
