/node_modules/
/dist/
/temp/
/demo/dist/
/e2e-app/dist/
/ssr-app/dist/
npm-debug.log
.publish
.sw*
.idea
*.iml
.vscode
coverage
coverage-e2e
demo/src/api-docs.ts
demo/src/public/**/plnkr.html
demo/src/public/**/stackblitz.html
demo/src/public/stackblitzes
local.docs.json
yarn-error.log
.ng_pkg_build
src/ng-bootstrap.metadata.json
