*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.DS_Store

pids
logs
results

node_modules

.git
docs
misc
.editorconfig
.gitattributes
.gitignore
.jshintrc
.travis.yml
CONTRIBUTING.md
Gruntfile.js
karma.conf.js
ROADMAP.md

src/**/*.spec.ts
src/util/matchers.ts
src/util/typings/
typings/
