.angular
.github
.husky
.vscode
.yarn
coverage
coverage-e2e
test-reports
demo/dist
demo/src/public
demo/src/api-docs.ts
demo/src/docs.json
dist
e2e-app/dist
misc/api-doc-test-cases
node_modules
schematics/dist
ssr-app/dist
CHANGELOG.md
package.json
