<ngbd-content-wrapper component="Buttons">
  <ngbd-api-docs directive="NgbRadioGroup"></ngbd-api-docs>
  <ngbd-api-docs directive="NgbRadio"></ngbd-api-docs>
  <ngbd-example-box demoTitle="Radio buttons" [htmlSnippet]="radioHtmlContent" [tsSnippet]="radioTsContent">
    <ngbd-buttons-radio></ngbd-buttons-radio>
  </ngbd-example-box>
  <ngbd-example-box demoTitle="Checkbox buttons" [htmlSnippet]="checkboxHtmlContent" [tsSnippet]="checkboxTsContent">
    <ngbd-buttons-checkbox></ngbd-buttons-checkbox>
  </ngbd-example-box>
</ngbd-content-wrapper>
