.ngb-slider-handle {
	background-color: var(--bs-primary, #005eb8);
	border: none;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 0.625rem;
	outline: none;
	position: absolute;

	&-horizontal {
		transform: translate(-50%, -40%);
	}

	&-vertical {
		transform: translate(-40%, -50%);
	}
}

.ngb-slider-handle:focus {
	box-shadow: 0 0 25px 5px var(--bs-info, #48abe0);
}

.ngb-slider-progress {
	background-color: var(--bs-primary, #005eb8);
	height: 0.25rem;
	position: absolute;

	&-vertical {
		transform: rotate(90deg);
	}
}

.ngb-slider-label {
	margin-top: -1.9rem;
	position: absolute;

	&-min {
		left: 0;
	}

	&-max {
		right: 0;
	}

	&-now {
		transform: translateX(-50%);
	}
}

.ngb-slider-label-vertical {
	margin-left: 1rem;
	position: absolute;
	transform: translateY(-40%);
	white-space: nowrap;

	&-min {
		top: 100%;
	}

	&-max {
		top: 0%;
	}

	&-now {
		transform: translateY(-50%);
	}
}

ngb-slider {
	display: flex;
	background-color: var(--bs-secondary-bg, #d3d3d3);
	position: relative;
}

.ngb-slider-horizontal {
	width: 100%;
	height: 0.25rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.ngb-slider-vertical {
	height: 100%;
	width: 0.25rem;
	margin-right: 2rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.ngb-slider-progress[disabled],
.ngb-slider-handle[disabled] {
	background-color: var(--bs-dark-bg-subtle, #b3b3b3);
	cursor: not-allowed;
}

.ngb-slider-label[disabled],
.ngb-slider-label-vertical[disabled] {
	color: var(--bs-dark-bg-subtle, #b3b3b3);
}

ngb-slider[disabled] {
	cursor: not-allowed;
}

.ngb-clickable-slider-area {
	height: 1.5rem;
	width: 100%;
	transform: translateY(-50%);
}

.ngb-clickable-slider-area-vertical {
	width: 1.5rem;
	height: 100%;
	transform: translateX(-50%);
	flex-shrink: 0;
}
