<div class="component-demo">
  <a [id]="demo"></a>
  <h2>
    <a
      [routerLink]=""
      [fragment]="demo" ngbdFragment
      title="Anchor link to demo: {{demo}}"
    >
      <img src="img/link-symbol.svg" alt="Anchor link to: {{demo}}"/>
    </a>
    {{ demoTitle }}
    <a
      class="plunker"
      target="_blank" href="app/components/{{component}}/demos/{{demo}}/plnkr.html"
      title="Edit in Plunker"
    >
      <img src="img/plunker-icon.png" height="24" width="24" alt="Plunker icon"/>
    </a>
    <a
      class="stackblitz"
      target="_blank" href="app/components/{{component}}/demos/{{demo}}/stackblitz.html"
      title="Edit in StackBlitz"
    >
      <img src="img/stackblitz-icon.svg" height="22" alt="StackBlitz icon"/>
    </a>
  </h2>
  <div class="card">
    <div class="card-body">
      <ng-content></ng-content>
    </div>
    <ngb-tabset class="tabset-code">
      <ngb-tab id="{{component}}-{{demo}}-html">
        <ng-template ngbTabTitle>
          <small class="badge badge-secondary" title="HTML template">T</small>
          <span>{{component}}-{{demo}}.html</span>
        </ng-template>
        <ng-template ngbTabContent>
          <ngbd-code [code]="snippets[demo]['markup']" lang="html"></ngbd-code>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="{{component}}-{{demo}}-typescript">
        <ng-template ngbTabTitle>
          <small class="badge badge-info" title="Component class">C</small>
          <span>{{component}}-{{demo}}.ts</span>
        </ng-template>
        <ng-template ngbTabContent>
          <ngbd-code [code]="snippets[demo]['code']" lang="typescript"></ngbd-code>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
