<div class="row">
  <div class="card">
    <div class="card-header">
      {{ demoTitle }}
      <div class="pull-xs-right">
        <img role="button" src="img/code-icon.png" (click)="showCode = !showCode"/>
        <a target="_blank" href="http://plnkr.co" title="Edit in Plnkr">
          <img src="img/plunker-icon.png" height="24" width="24"/>
        </a>
      </div>
    </div>
    <div class="card-block" *ngIf="showCode">
      <ngb-tabset>
        <ngb-tab title="html">
          <template ngbTabContent>
            <pre class="language-html"><code class="language-html" [innerHTML]="htmlSnippet"></code></pre>
          </template>
        </ngb-tab>
        <ngb-tab title="typescript">
          <template ngbTabContent>
            <pre class="language-typescript"><code class="language-typescript" [innerHTML]="tsSnippet"></code></pre>
          </template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="card-block">
      <ng-content></ng-content>
    </div>
  </div>
</div>
