<div class="component-demo">
  <div class="card">
    <div class="card-header">
      <span class="h3">
        {{ demoTitle }}
      </span>
      <div class="float-right">
        <img role="button" src="img/code-icon.png" (click)="toggleCode()" title="Show source code"/>
        <a target="_blank" href="app/components/{{component}}/demos/{{demo}}/plnkr.html" title="Edit in Plnkr" >
          <img src="img/plunker-icon.png" height="24" width="24"/>
        </a>
      </div>
    </div>
    <div class="card-block" *ngIf="showCode">
      <ngb-tabset>
        <ngb-tab title="html">
          <template ngbTabContent>
            <pre class="language-html"><code class="language-html" [innerHTML]="snippets[demo].markup"></code></pre>
          </template>
        </ngb-tab>
        <ngb-tab title="typescript">
          <template ngbTabContent>
            <pre class="language-typescript"><code class="language-typescript" [innerHTML]="snippets[demo].code"></code></pre>
          </template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="card-block">
      <ng-content></ng-content>
    </div>
  </div>
</div>
