[ngbDatepickerDayView] {
	text-align: center;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 0.25rem;
	background: transparent;

	&:hover:not(.bg-primary),
	&.active:not(.bg-primary) {
		background-color: var(--bs-btn-bg);
		outline: 1px solid var(--bs-border-color);
	}

	&.outside {
		opacity: 0.5;
	}
}
