:host {
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
  display: inline-block;
}
.ngb-dp-month {
  pointer-events: none;
}
.ngb-dp-header {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding-top: 0.25rem;
}
ngb-datepicker-month-view {
  pointer-events: auto;
}
.ngb-dp-month-name {
  font-size: larger;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

/deep/ .ngb-dp-month {
  & + .ngb-dp-month > ngb-datepicker-month-view > .ngb-dp-week {
    padding-left: 1rem;
  }

  & + .ngb-dp-month > .ngb-dp-month-name {
    padding-left: 1rem;
  }

  &:last-child .ngb-dp-week {
    padding-right: .25rem;
  }

  &:first-child .ngb-dp-week {
    padding-left: .25rem;
  }

  & > ngb-datepicker-month-view > .ngb-dp-week:last-child {
    padding-bottom: .25rem;
  }
}

.ngb-dp-months {
  display: flex;
}
