ngb-datepicker {
	border: 1px solid var(--bs-border-color);
	border-radius: 0.25rem;
	display: inline-block;

	&-month {
		pointer-events: auto;
	}

	&.dropdown-menu {
		padding: 0;
	}

	&.disabled {
		.ngb-dp-weekday,
		.ngb-dp-week-number,
		.ngb-dp-month-name {
			color: var(--bs-text-muted);
		}
	}
}

.ngb-dp {
	&-body {
		z-index: 1055;
	}

	&-header {
		border-bottom: 0;
		border-radius: 0.25rem 0.25rem 0 0;
		padding-top: 0.25rem;
		background-color: var(--bs-light);
	}

	&-months {
		display: flex;
	}

	&-month {
		pointer-events: none;

		&-name {
			font-size: larger;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			background-color: var(--bs-light);
		}

		& + & {
			.ngb-dp-month-name,
			.ngb-dp-week {
				padding-left: 1rem;
			}
		}

		&:last-child .ngb-dp-week {
			padding-right: 0.25rem;
		}

		&:first-child .ngb-dp-week {
			padding-left: 0.25rem;
		}

		.ngb-dp-week:last-child {
			padding-bottom: 0.25rem;
		}
	}
}
