<ngbd-content-wrapper component="Accordion">
  <ngbd-api-docs directive="NgbAccordion"></ngbd-api-docs>
  <ngbd-api-docs directive="NgbPanel"></ngbd-api-docs>
  <ngbd-example-box demoTitle="Accordion" [htmlSnippet]="basicHtmlContent" [tsSnippet]="basicTsContent">
    <ngbd-accordion-basic></ngbd-accordion-basic>
  </ngbd-example-box>
  <ngbd-example-box demoTitle="One open panel at a time" [htmlSnippet]="staticHtmlContent" [tsSnippet]="staticTsContent">
    <ngbd-accordion-static></ngbd-accordion-static>
  </ngbd-example-box>
</ngbd-content-wrapper>
