
$arrow-size: 0.8rem;

ngb-tooltip-window {
  pointer-events: none;

  .tooltip-inner {
    pointer-events: auto;
  }

  &.bs-tooltip-top .arrow,
  &.bs-tooltip-bottom .arrow {
    left: calc(50% - #{$arrow-size / 2});
  }

  &.bs-tooltip-top-left .arrow,
  &.bs-tooltip-bottom-left .arrow {
    left: 1em;
  }

  &.bs-tooltip-top-right .arrow,
  &.bs-tooltip-bottom-right .arrow {
    left: auto;
    right: 0.8rem;
  }

  &.bs-tooltip-left .arrow,
  &.bs-tooltip-right .arrow {
    top: calc(50% - #{$arrow-size / 2});
  }

  &.bs-tooltip-left-top .arrow,
  &.bs-tooltip-right-top .arrow {
    top: 0.4rem;
  }

  &.bs-tooltip-left-bottom .arrow,
  &.bs-tooltip-right-bottom .arrow {
    top: auto;
    bottom: 0.4rem;
  }
}
