
$arrow-size: 0.8rem;

ngb-tooltip-window {
  pointer-events: none;

  .tooltip-inner {
    pointer-events: auto;
  }

  &.bs-tooltip-top .tooltip-arrow,
  &.bs-tooltip-bottom .tooltip-arrow {
    left: calc(50% - #{$arrow-size / 2});
  }

  &.bs-tooltip-top-start .tooltip-arrow,
  &.bs-tooltip-bottom-start .tooltip-arrow {
    left: 1em;
  }

  &.bs-tooltip-top-end .tooltip-arrow,
  &.bs-tooltip-bottom-end .tooltip-arrow {
    left: auto;
    right: 0.8rem;
  }

  &.bs-tooltip-start .tooltip-arrow,
  &.bs-tooltip-end .tooltip-arrow {
    top: calc(50% - #{$arrow-size / 2});
  }

  &.bs-tooltip-start-top .tooltip-arrow,
  &.bs-tooltip-end-top .tooltip-arrow {
    top: 0.4rem;
  }

  &.bs-tooltip-start-bottom .tooltip-arrow,
  &.bs-tooltip-end-bottom .tooltip-arrow {
    top: auto;
    bottom: 0.4rem;
  }
}
