// styles in src/style directory are applied to the whole page
header .navbar {
  background-color: #1976d2;
}

img.nav-logo {
  display: inline-block;
  height: 30px;
}

.jumbotron {
  margin-top: 50px;
  background-color: #0143A3;
  background: -webkit-linear-gradient(#0143A3, #0273D4);
  background: linear-gradient(#0143A3, #0273D4);
  color: #fff
}

hr.header {
  background-color: #fff;
}

a.header-button {
  color: #ffffff;
  border-color: #ffffff;
}

a.header-button:focus,
a.header-button:hover,
a.header-button:active {
  color: #003580;
  background-color: #80b5ff;
  border-color: #80b5ff;
}

p.github-buttons {
  margin-bottom: 0;
  margin-top: 4px;
  padding-left: 0;
}

p.github-buttons > iframe {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .bd-sidebar {
    padding-left: 1rem
  }
}

.bd-toc-link {
  display: block;
  padding: .25rem .75rem;
  color: #55595c
}

.bd-toc-link:focus,
.bd-toc-link:hover {
  color: #0275d8;
  text-decoration: none
}

.active > .bd-toc-link {
  font-weight: 500;
  color: #373a3c
}

.active > .bd-sidenav {
  display: block
}

.bd-toc-item a.active {
  margin-top: inherit;
  margin-bottom: inherit;
}

.bd-toc-item:first-child {
  margin-top: 0
}

.bd-toc-item:last-child {
  margin-bottom: 2rem
}

.bd-sidebar .nav > li > a {
  display: block;
  padding: .25rem .75rem;
  font-size: 90%;
  color: #99979c;
  cursor: pointer;
}

.bd-sidebar .nav > li > a:focus,
.bd-sidebar .nav > li > a:hover {
  color: #0275d8;
  text-decoration: none;
  background-color: transparent
}

.bd-sidebar .nav > .active:focus > a,
.bd-sidebar .nav > .active:hover > a,
.bd-sidebar .nav > .active > a {
  font-weight: 700;
  color: #373a3c;
  background-color: transparent
}

div.api-doc-component {
  margin-bottom: 20px;
}

div.api-doc-component > h2 > a {
  text-decoration: none;
}

div.api-doc-component > h2 > a:hover {
  text-decoration: none;
}

div.api-doc-component > h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height:0.85em;
  text-shadow:
          0 0 3px white, /* stroke around*/
          0 0 3px white,
          0 0 3px white,
          0 0 3px white,
          0 0 3px white,
          0 0 3px white,
          0 0 3px white,
          0 0 3px white,
          0 0 3px white,
          0 -5px 0 white, /* clear vertically*/
          0 -1px 0 white,
          0 -2px 0 white,
          0 -3px 0 white,
          0 -4px 0 white,
          0 -5px 0 white,
          0 -6px 0 white;
  box-shadow:0 1px white, 0 3px #0275d8;
  word-spacing:0.5em;
  font-size:2.5em;
  border-bottom: 2px solid #fff;
  display: table;
}

div.api-doc-component > h2:hover {
  border-bottom: 2px solid #fff;
  box-shadow:0 1px white, 0 3px #014c8c;
  text-decoration: none;
}

div.component-demo {
  margin-bottom: 15px;
}

.bd-footer {
  padding: 3rem 0;
  margin-top: 3rem;
  font-size: 85%;
  background-color: #f7f7f7;
  text-align: left;
}

.bd-footer p {
  margin-bottom: 0;
}

.bd-footer a {
  font-weight: 500;
  color: #55595c;
}

section {
  margin-top: 30px;
}

section h3 {
  margin-bottom: 10px;
}

