// styles in src/style directory are applied to the whole page

header.navbar {
  background: linear-gradient(135deg, #0143a3, #0273d4);
}

.masthead {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.masthead-followup {
  img {
    width: 64px;
    height: 64px;
  }
}

.footer {
  padding: 3rem 0;
  // margin-top: 3rem;
  font-size: 85%;
  // background-color: #f7f7f7;
  text-align: left;

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    color: #55595c;
  }
}

.github-buttons {
  header & {
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 0;
  }

  ngbd-default & {
    text-align: center;
    margin-top: 2rem;
  }

  > iframe,
  > a {
    margin-left: 0.5rem;
  }
}

.sidebar-collapsed {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

header.title {
  margin-left: -15px;
  margin-right: -15px;
}

.toc {
  margin-left: -15px;
  margin-right: -15px;

  .toc-item {
    .toc-link {
      display: block;
      padding: 0.25rem 1.5rem;
      color: rgba(0, 0, 0, 0.65);
    }

    .nav > li > a {
      font-size: 90%;

      &:hover, &:focus {
        text-decoration: none;
        color:#0275d8;
      }
    }

    .nav > li.active > a {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
    }

    &.active {
      margin-top: 2rem;

      > .toc-link {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
}

.contextual-nav .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  a {
    color: inherit;
  }
}

.deprecated {
  h3 {
    text-decoration: line-through;
  }

  h5 {
    display: inline-block;
  }

  td.label-cell code,
  p.signature,
  code.selector,
  code.export-as {
    text-decoration: line-through;
  }

  .description,
  .meta,
  .lead {
    opacity: 0.5;
  }
}

.root-nav {
  .tab-content {
    padding-top: 3rem;
  }
}


div.api-doc-component {
  margin-bottom: 3rem;

  > h2,
  > h3 {
    .github-link {
      transition: opacity 0.5s;
      opacity: 0.3;
      margin-left: .5rem;
    }

    &:hover {
      .github-link {
        opacity: 1;
      }
      & > .title-fragment {
        opacity: 1;
      }
    }
  }

  section {
    margin-top: 3rem;
    h4 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .meta {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      > div {
        margin-bottom: 0.5rem;
      }
    }
  }
}

a.title-fragment {
  opacity: 0;
  transition: opacity 125ms ease;
  line-height: inherit;
  position: absolute;
  margin-left: -1.2em;
  padding-right: 0.5em;

  & > img {
    width: 1em;
    height: 1em;
  }
}

div.component-demo {
  margin-bottom: 3rem;
  h2 {
    margin-bottom: 1rem;

    .plunker,
    .stackblitz {
      text-decoration: none;
      opacity: 0.3;
      transition: opacity 0.5s;
      margin-left: 0.3rem;
    }
    &:hover {
      .plunker,
      .stackblitz {
        opacity: 1;
      }
      & > .title-fragment {
        opacity: 1;
      }
    }
  }

  .tabset-code {
    .nav {
      margin: 0;
      padding: 0.5rem 1.25rem 0;
      font-size: 80%;

      .nav-link.active {
        background-color: #f5f2f0;
        border-bottom: 1px solid #f5f2f0;
      }

      .nav-link:not(.active) {
        color: #999;
        &:hover {
          color: #666;
        }
      }
    }

    .tab-content {
      overflow: hidden;
    }

    pre {
      margin: 0;
    }
  }
}

.examples-legend {
  font-size: 80%;
}

ngbd-api-docs,
ngbd-api-docs-class,
ngbd-api-docs-config {
  display: block;

  &:not(:first-child) {
    margin-top: 3rem;
    border-top: 1px solid #999;
    padding-top: 1rem;
  }
}

// override prism theme background color to inline it with bootstrap colors
code[class*='language-'],
pre[class*='language-'] {
  background-color: #f5f5f5; // same as bootstrap card header
}

span.token.tag {
  font-size: 1em;
  padding: 0;
}

@mixin center-nav-tab-on-small-screens() {
  .jumbotron > .container {
    margin-bottom: 2rem;
    h1 {
      text-align: center;
    }
  }

  .root-nav {
    ul {
      justify-content: center !important;
    }
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  @include center-nav-tab-on-small-screens();
}

@media (max-width: 568px) and (max-height: 320px) {
  @include center-nav-tab-on-small-screens();
}

// Right-To-Left layout for the Islamic Calendars
ngb-datepicker.rtl {
  direction: rtl;
}

ngb-datepicker.rtl ngb-datepicker-navigation-select select.custom-select {
  background-position: left 0.25rem center;
}
// Useful to modify this to flex-start for multiple calendar only
ngb-datepicker.rtl .ngb-dp-arrow.right {
  justify-content: center;
}
// Useful to modify this to flex-end for multiple calendar only
ngb-datepicker.rtl .ngb-dp-arrow {
  justify-content: center;
}

ngb-datepicker.rtl .ngb-dp-arrow-btn {
  padding: 0;
}

ngb-datepicker.rtl .ngb-dp-arrow.right .ngb-dp-navigation-chevron:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  margin: 0 0 0 0.5rem;
}

ngb-datepicker.rtl .ngb-dp-navigation-chevron::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  margin: 0 0.5rem 0 0;
}
