// styles in src/style directory are applied to the whole page
.jumbotron {
  color: #80b5ff;
  background-color: #003580;
}

hr.header {
  background-color: #80b5ff;
}

button.header-button {
  color: #80b5ff;
  border-color: #80b5ff;
}

button.header-button:focus,
button.header-button:hover,
button.header-button:active {
  color: #003580;
  background-color: #80b5ff;
  border-color: #80b5ff;
}

div.github-buttons {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bd-sidebar {
    padding-left:1rem
  }
}
.bd-toc-link {
  display: block;
  padding: .25rem .75rem;
  color: #55595c
}

.bd-toc-link:focus, .bd-toc-link:hover {
  color: #0275d8;
  text-decoration: none
}

.active > .bd-toc-link {
  font-weight: 500;
  color: #373a3c
}

.active > .bd-sidenav {
  display: block
}

.bd-toc-item .active {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.bd-toc-item a.active {
  margin-top: inherit;
  margin-bottom: inherit;
}

.bd-toc-item:first-child {
  margin-top: 0
}

.bd-toc-item:last-child {
  margin-bottom: 2rem
}

.bd-sidebar .nav > li > a {
  display: block;
  padding: .25rem .75rem;
  font-size: 90%;
  color: #99979c;
  cursor: pointer;
}

.bd-sidebar .nav > li > a:focus, .bd-sidebar .nav > li > a:hover {
  color: #0275d8;
  text-decoration: none;
  background-color: transparent
}

.bd-sidebar .nav > .active:focus > a, .bd-sidebar .nav > .active:hover > a, .bd-sidebar .nav > .active > a {
  font-weight: 500;
  color: #373a3c;
  background-color: transparent
}

div.component-api,
div.component-api div.component-api-property,
div.component-api div.component-api-instructions {
  margin-bottom: 10px;
}

section {
  margin-top: 30px;
}

section h3 {
  margin-bottom: 10px;
}
