<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <aside class="bd-sidebar">
    <ngbd-side-nav
      id="doc-nav"
      class="d-none  d-lg-block py-3 collapse"
    ></ngbd-side-nav>
  </aside>

  <main class="bd-main order-1">
    <div class="bd-intro pt-2 ps-lg-2">
      <h1 class="mt-0">{{ component | titlecase }}</h1>

      <header class="my-4 d-flex d-md-block align-items-center">
        <ul ngbNav [activeId]="this.activeTab"
            class="nav-tabs px-2 justify-content-md-start justify-content-end">
          <li [ngbNavItem]="childRoute.path" *ngFor="let childRoute of route.routeConfig!.children">
            <a ngbNavLink [routerLink]="['.', childRoute.path]">
              {{ childRoute.path || '' | titlecase }}
            </a>
          </li>
        </ul>
      </header>
    </div>

    <div class="bd-toc mb-5 my-lg-0 ps-xl-3 mb-lg-5 text-muted">
      <button class="btn btn-link link-dark p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none"
              type="button" (click)="collapse.toggle()" aria-controls="tocContents">
        On this page
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-chevron-expand ms-2" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
        </svg>
      </button>
      <strong class="d-none d-md-block h6 my-2">On this page</strong>
      <hr class="d-none d-md-block my-2">
      <div class="bd-toc-collapse" #collapse="ngbCollapse" [ngbCollapse]="false" id="tocContents">
        <nav id="TableOfContents">
          <ul>
            <li *ngFor="let topic of tableOfContents">
              <a *ngIf="topic.title else divider" [routerLink]="['.', this.activeTab]"
                 [fragment]="topic.fragment">{{topic.title}}</a>
            </li>
            <ng-template #divider>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ng-template>
            <ng-container *ngIf="(bootstrapUrl$ | async) as boostrapUrl">
              <li>
                <hr class="d-none d-md-block my-4">
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" [href]="boostrapUrl" target="_blank"
                   rel="nofollow noopener noreferrer">
                  <svg:svg class="me-2" width="16" height="16" fill="currentColor" ngbdIcon="bootstrap"/>
                  {{ component | titlecase }} in Bootstrap
                </a>
              </li>
            </ng-container>
          </ul>
        </nav>
      </div>
    </div>

    <div class="bd-content ps-lg-2">
      <ng-template [ngComponentOutlet]="(headerComponentType$ | async)!"></ng-template>
      <router-outlet (activate)="updateNavigation($event)"></router-outlet>
    </div>
  </main>
</div>
