<h3>Datepicker autoclose tests</h3>

<form id="default">
  <div class="form-group form-inline">

    <div class="input-group">
      <input class="form-control" name="dp" placeholder="yyyy-mm-dd" #d="ngbDatepicker" ngbDatepicker [autoClose]="autoClose" >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="toggle" (click)="d.toggle()">Toggle</button>
        <button class="btn btn-outline-secondary" type="button" id="close" (click)="d.close()">Close</button>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block ml-3">
      <button class="btn btn-outline-secondary" id="autoclose-dropdown" ngbDropdownToggle>Choose Autoclose</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" id="autoclose-true" (click)="autoClose = true">True</button>
        <button class="dropdown-item" id="autoclose-false" (click)="autoClose = false">False</button>
        <button class="dropdown-item" id="autoclose-outside" (click)="autoClose = 'outside'">'Outside'</button>
        <button class="dropdown-item" id="autoclose-inside" (click)="autoClose = 'inside'">'Inside'</button>
      </div>
    </div>

    <button class="btn btn-outline-secondary ml-1" id="outside-button">Outside button</button>
  </div>
</form>
