<ngbd-content-wrapper component="Getting Started">
  <h3>
    Dependencies
  </h3>
  <p>
    This repository contains a set of native Angular 2 directives based on Bootstrap's markup and CSS.
    As a result no dependency on jQuery or Bootstrap's JavaScript is required. The only required dependencies are:
  </p>
  <ul>
    <li>
      <a href="https://angular.io" target="_blank">Angular</a> (<em>requires</em> Angular version 2 or higher)
    </li>
    <li>
      <a href="http://v4-alpha.getbootstrap.com" target="_blank">Bootstrap CSS</a> (tested with version 4.0aV2)
    </li>
  </ul>
</ngbd-content-wrapper>
