<ngbd-page-wrapper pageTitle="Introduction">

  <ngbd-page-header title="Dependencies" fragment="dependencies" class="mt-0"></ngbd-page-header>

  <p>
    This repository contains a set of native Angular directives based on Bootstrap's markup and CSS.
    As a result no dependency on jQuery or Bootstrap's JavaScript is required.
  </p>

  <p>
    Here is a list of minimal required versions of <a href="https://angular.io" target="_blank">Angular</a>
    and <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> CSS for ng-bootstrap:
  </p>

  <table class="table" style="width: auto">
    <thead>
      <tr>
        <th scope="col">ng-bootstrap</th>
        <th scope="col">Angular</th>
        <th scope="col">Bootstrap CSS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1.x.x</th>
        <td>5.0.2</td>
        <td>4.0.0</td>
      </tr>
      <tr>
        <th scope="row">2.x.x</th>
        <td>6.0.0</td>
        <td>4.0.0</td>
      </tr>
      <tr>
        <th scope="row">3.x.x</th>
        <td>6.1.0</td>
        <td>4.0.0</td>
      </tr>
      <tr>
        <th scope="row">4.x.x</th>
        <td>7.0.0</td>
        <td>4.0.0</td>
      </tr>
      <tr>
        <th scope="row">5.x.x</th>
        <td>8.0.0</td>
        <td>4.3.1</td>
      </tr>
      <tr>
        <th scope="row">6.x.x</th>
        <td>9.0.0</td>
        <td>4.4.1</td>
      </tr>
    </tbody>
  </table>

  <p>
    If you're using Angular &ge; 9.0.0 and ng-bootstrap &ge; 6.0.0, you might also need to install the <code>@angular/localize</code>
    polyfill with <code>ng add @angular/localize</code>. See more details in
    <a href="https://angular.io/guide/i18n#setting-up-localization-with-the-angular-cli" target="_blank">the official documentation</a>.
  </p>

  <ngb-alert type="warning" [dismissible]="false">
    <p>Should I add <b>bootstrap.js</b> or <b>bootstrap.min.js</b> to my project?</p>

    No, the goal of ng-bootstrap is to <i>completely replace</i> JavaScript implementation for components. Nor should you include other dependencies like jQuery or popper.js. It is not necessary and might interfere with ng-bootstrap code.
  </ngb-alert>

  <ngbd-page-header title="Supported Browsers" fragment="browsers"></ngbd-page-header>

  <p>We strive to support the same browsers and versions as supported by both Bootstrap 4 and Angular, whichever is more restrictive. Check browser support notes for
    <a href="https://angular.io/guide/browser-support" target="_blank">Angular</a> and
    <a href="https://getbootstrap.com/docs/4.4/getting-started/browsers-devices/" target="_blank">Bootstrap</a>.
  </p>
  <p>Our code is automatically tested on all the supported browsers.</p>

  <ngbd-page-header title="Installation" fragment="installation"></ngbd-page-header>

  <p>After installing the above dependencies, install <code>ng-bootstrap</code> via:</p>

  <ngbd-code [snippet]="codeInstall"></ngbd-code>

  <p>Once installed you need to import our main module.</p>

  <ngbd-code [snippet]="codeRoot"></ngbd-code>

  <p>Alternatively you could only import modules with components you need, ex. pagination and alert.
    The resulting bundle will be smaller in this case.</p>

  <ngbd-code [snippet]="codeOther"></ngbd-code>

  <ngbd-page-header title="Internationalization" fragment="i18n"></ngbd-page-header>

  <ngb-alert type="warning" [dismissible]="false">
    We're using standard Angular i18n in ng-bootstrap templates. Since Angular 9 (and ng-bootstrap 6) you might have to
    add the additional <code>@angular/localize</code> polyfill to your CLI project. See more details in
    <a href="https://angular.io/guide/i18n#setting-up-localization-with-the-angular-cli" target="_blank">the official documentation</a>.
  </ngb-alert>

  <p>
    Some components contain static English text or symbols that you might want to internationalize. Some of them appear
    on the screen, like for example the placeholders used in the timepicker input fields. Others appear in aria attributes
    used for accessibility.
  </p>
  <p>
    Internationalizing the ng-bootstrap components is done the same way as for any of your components, using the
    <a href="https://angular.io/guide/i18n#template-translations">process described in the Angular documentation</a>.
    The only difference is that we already did the first phase of this process: marking static text messages in the
    ng-bootstrap component templates for translation.
  </p>
  <p>
    So, if you execute `ng xi18n` on your project, you will also find the ng-bootstrap messages to translate in the
    generated messages file. All our messages are identified by an ID of the form <code>ngb.[widget].[message]</code>
  </p>

  <ngbd-page-header title="Getting help" fragment="getting-help"></ngbd-page-header>

  <p>
    Please, do not open issues for the general support questions as we want to keep GitHub issues for bug reports
    and feature requests. You've got much better chances of getting your question answered on
    <a href="https://stackoverflow.com/questions/tagged/ng-bootstrap" target="_blank">StackOverflow</a> where the community at large are looking
    at questions tagged with <code>ng-bootstrap</code>.
  </p>
  <p>
    StackOverflow is a much better place to ask questions since:
  </p>
  <ul>
    <li>there are hundreds of people willing to help on StackOverflow,</li>
    <li>questions and answers stay available for public viewing so your question / answer might help someone else, and</li>
    <li>the SO voting system assures that the best answers are prominently visible.</li>
  </ul>
  <p>
    To save your and our time we will be systematically closing all the issues that are requests for general support and redirecting people to StackOverflow.
  </p>

  <ngbd-page-header title="Contributing" fragment="contributing"></ngbd-page-header>

  <p>
    We are always looking for the quality contributions! Please check the
    <a href="https://github.com/ng-bootstrap/ng-bootstrap/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a> doc
    for contribution guidelines. Additionally, for local building and testing information, please see our
    <a href="https://github.com/ng-bootstrap/ng-bootstrap/blob/master/DEVELOPER.md" target="_blank">Developer's Guide</a>.
  </p>

  <ngbd-page-header title="Code of conduct" fragment="code-of-conduct"></ngbd-page-header>

  <p>
    Please take a moment to read our
    <a href="https://github.com/ng-bootstrap/ng-bootstrap/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>.
  </p>
</ngbd-page-wrapper>
