ngb-timepicker {
  font-size: 1rem;
}

.ngb-tp {
  display: flex;
  align-items: center;

  &-input-container {
    width: 4em;
  }

  &-chevron {
    &::before {
      border-style: solid;
      border-width: 0.29em 0.29em 0 0;
      content: '';
      display: inline-block;
      height: 0.69em;
      left: 0.05em;
      position: relative;
      top: 0.15em;
      transform: rotate(-45deg);
      vertical-align: middle;
      width: 0.69em;
    }

    &.bottom:before {
      top: -.3em;
      transform: rotate(135deg);
    }
  }

  &-input {
    text-align: center;
  }

  &-hour,
  &-minute,
  &-second,
  &-meridian {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &-spacer {
    width: 1em;
    text-align: center;
  }
}
