<h3>Dropdown shadow tests</h3>

<div class="input-group">
	<div ngbDropdown class="d-inline-block me-3">
		<button class="btn btn-outline-secondary" id="dropdown" ngbDropdownToggle>Choose and option</button>
		<div ngbDropdownMenu aria-labelledby="dropdown">
			<button ngbDropdownItem id="item-1">One</button>
			<hr />
			<button ngbDropdownItem disabled>Disabled</button>
			<button class="dropdown-item">Not arrow-focusable</button>
			<hr />
			<button ngbDropdownItem id="item-2">Two</button>
		</div>
	</div>
</div>
