<h3>Typeahead focus tests</h3>

<form>
	<div class="row row-cols-auto">
		<div class="col">
			<div class="input-group me-2">
				<label for="first" class="me-2">Before</label>
				<input id="first" />
			</div>
		</div>
		<div class="col">
			<div class="input-group me-2">
				<label for="typeahead" class="me-2">Typeahead</label>
				<input
					id="typeahead"
					name="typeahead"
					type="text"
					class="form-control"
					[(ngModel)]="model"
					[ngbTypeahead]="search"
					(focus)="focus$.next($event.target.value)"
					(click)="click$.next($event.target.value)"
					#instance="ngbTypeahead"
				/>
			</div>
		</div>
		<div class="col">
			<div class="input-group me-2">
				<label for="last" class="me-2">After</label>
				<input id="last" />
			</div>
		</div>
	</div>
</form>
