
$arrow-size: 1rem;

ngb-popover-window {
  &.bs-popover-top, &.bs-popover-bottom {
    margin-top: $arrow-size / 2;
    margin-bottom: $arrow-size / 2;
  }

  &.bs-popover-start, &.bs-popover-end {
    margin-left: $arrow-size / 2;
    margin-right: $arrow-size / 2;
  }

  &.bs-popover-top > .popover-arrow,
  &.bs-popover-bottom > .popover-arrow {
    left: 50%;
    margin-left: -$arrow-size / 2;
  }

  &.bs-popover-top-start > .popover-arrow,
  &.bs-popover-bottom-start > .popover-arrow {
    left: 2em;
  }

  &.bs-popover-top-end > .popover-arrow,
  &.bs-popover-bottom-end > .popover-arrow {
    left: auto;
    right: 2em;
  }

  &.bs-popover-start > .popover-arrow,
  &.bs-popover-end > .popover-arrow {
    top: 50%;
    margin-top: -$arrow-size / 2;
  }

  &.bs-popover-start-top > .popover-arrow,
  &.bs-popover-end-top > .popover-arrow {
    top: 0.7em;
  }

  &.bs-popover-start-bottom > .popover-arrow,
  &.bs-popover-end-bottom > .popover-arrow {
    top: auto;
    bottom: 0.7em;
  }
}
