<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">

  <a class="navbar-brand mr-2 mr-md-0" routerLink="/" aria-label="NG Bootstrap" (click)="navbarCollapsed = true">
    <img src="img/ADESA-logo-eagle-sm.png" width="36" height="35" />
    <span class="ml-2 d-xl-none d-lg-none d-md-none d-inline">adesa-design-system</span>
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/getting-started']" (click)="navbarCollapsed = true">Getting Started</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/components']" (click)="navbarCollapsed = true">Components</a>
      </li>
    </ul>
  </div>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light">
  <div class="container-fluid p-3 p-md-5">
    <p>Designed and built by the
      <a href="https://github.com/orgs/ng-bootstrap/people" rel="noopener" target="_blank">ng-bootstrap team
      </a> with the help of our
      <a href="https://github.com/ng-bootstrap/ng-bootstrap/graphs/contributors" rel="noopener" target="_blank">contributors</a>.</p>
    <p>Extended by ADESA Product Development Teams</p>
    <p>Code licensed under
      <a href="https://raw.githubusercontent.com/ng-bootstrap/ng-bootstrap/master/LICENSE" rel="noopener" target="_blank">MIT license conditions.</a>
    </p>
    <p>
      Documentation licensed under
      <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>. Design and content of the documentation site heavily inspired by the
      <a href="https://getbootstrap.com/" rel="noopener" target="_blank">original Bootstrap design</a>.</p>
    <p>Icons made by
      <a href="http://www.flaticon.com/authors/eucalyp" rel="noopener" target="_blank">Eucalyp</a>,
      <a href="http://www.flaticon.com/authors/freepik" rel="noopener" target="_blank">Freepik</a>,
      <a href="http://www.flaticon.com/authors/nikita-golubev" rel="noopener" target="_blank">Nikita Golubev</a> and
      <a href="http://www.flaticon.com/authors/pixel-perfect" rel="noopener" target="_blank">Pixel perfect</a>
      from
      <a href="http://www.flaticon.com" rel="noopener" target="_blank">www.flaticon.com</a>
    </p>
  </div>
</footer>
