<header class="navbar navbar-expand-lg navbar-dark bd-navbar sticky-top">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap " aria-label="Main navigation">
    <button class="navbar-toggler p-2" type="button"
            aria-controls="doc-nav"
            [attr.aria-expanded]="!sidebarCollapsed"
            aria-label="Toggle documentation navigation" (click)="openSidenavbar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
        </svg>
      <span class="d-none fs-6 pe-1">Browse</span>
    </button>

    <!-- If we dont use the sidenav toggler -->
    <!--    <div class="d-lg-none" style="width: 1.5rem;"></div>-->


    <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
      <img src="/img/ngb-logo.png" width="36" height="36">
    </a>

    <div class="d-flex">
      <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" aria-controls="bdNavbar"
              aria-label="Toggle navigation"
              (click)="openNavbar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots"
             viewBox="0 0 16 16">
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
      </button>
    </div>

    <app-nav class="d-none d-lg-block flex-grow-1"></app-nav>
  </nav>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light">
  <div class="container-fluid p-3 p-md-5">
    <p>
      Designed and built by the
      <a
        href="https://github.com/orgs/ng-bootstrap/people"
        rel="noopener"
        target="_blank"
      >ng-bootstrap team
      </a>
      with the help of our
      <a
        href="https://github.com/ng-bootstrap/ng-bootstrap/graphs/contributors"
        rel="noopener"
        target="_blank"
      >contributors</a
      >.
    </p>
    <p>
      Code licensed under
      <a
        href="https://raw.githubusercontent.com/ng-bootstrap/ng-bootstrap/master/LICENSE"
        rel="noopener"
        target="_blank"
      >MIT license conditions.</a
      >
    </p>
    <p>
      Documentation licensed under
      <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank"
      >CC BY 3.0</a
      >. Design and content of the documentation site heavily inspired by the
      <a href="https://getbootstrap.com/" rel="noopener" target="_blank"
      >original Bootstrap design</a
      >.
    </p>
    <p>
      Icons made by
      <a href="https://iconmonstr.com/" rel="noopener" target="_blank"
      >Iconmonstr</a
      >
    </p>
  </div>
</footer>
