<p>Static self-closing alert that disappears after 20 seconds (refresh the page if it has already disappeared)</p>

@if (!staticAlertClosed) {
	<ngb-alert #staticAlert (closed)="staticAlertClosed = true">Check out our awesome new features!</ngb-alert>
}

<hr />

<p>Show a self-closing success message that disappears after 5 seconds.</p>

@if (successMessage) {
	<ngb-alert #selfClosingAlert type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
}

<button class="btn btn-primary" (click)="changeSuccessMessage()">Change message</button>
