<h3>Datepicker focus tests</h3>

<form>
  <div class="form-group form-inline">
    <div class="input-group">
      <input class="form-control" name="dp" placeholder="yyyy-mm-dd"
          #d="ngbDatepicker" ngbDatepicker [(ngModel)]="model"
          [minDate]="{year: 2000, month: 1, day: 1}" [maxDate]="{year: 2100, month: 1, day: 1}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="toggle" (click)="d.toggle()">Toggle</button>
        <button class="btn btn-outline-secondary" type="button" id="selectDate" (click)="model = {year: 2018, month: 8, day: 10}">10 AUG 2018</button>
      </div>
    </div>
  </div>
</form>

