<ngbd-content-wrapper component="Rating">
  <ngbd-api-docs directive="NgbRating"></ngbd-api-docs>
  <ngbd-api-docs-class type="StarTemplateContext"></ngbd-api-docs-class>
  <ngbd-api-docs-config type="NgbRatingConfig"></ngbd-api-docs-config>
  <ngbd-example-box demoTitle="Basic demo" [htmlSnippet]="snippets.basic.markup" [tsSnippet]="snippets.basic.code">
    <ngbd-rating-basic></ngbd-rating-basic>
  </ngbd-example-box>
  <ngbd-example-box demoTitle="Events and readonly ratings" [htmlSnippet]="snippets.events.markup" [tsSnippet]="snippets.events.code">
    <ngbd-rating-events></ngbd-rating-events>
  </ngbd-example-box>
  <ngbd-example-box demoTitle="Custom star template" [htmlSnippet]="snippets.template.markup" [tsSnippet]="snippets.template.code">
    <ngbd-rating-template></ngbd-rating-template>
  </ngbd-example-box>
  <ngbd-example-box demoTitle="Global configuration of ratings" [htmlSnippet]="snippets.config.markup" [tsSnippet]="snippets.config.code">
    <ngbd-rating-config></ngbd-rating-config>
  </ngbd-example-box>
</ngbd-content-wrapper>
