<p>You can pass an existing component as content of the offcanvas panel.</p>

<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open()">Launch with default options</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ position: 'end' })">Right position</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ position: 'top' })">Top position</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ position: 'bottom' })">Bottom position</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ backdrop: false })">No backdrop</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ scroll: true })">Scrolling enabled</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ keyboard: false })">Escape does not dismiss</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ animation: false })">No animation</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ backdropClass: 'bg-info' })">Custom backdrop class</button>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="open({ panelClass: 'bg-info' })">Custom panel class</button>
