<h3>Dropdown positioning tests</h3>

<form id="default">
  <div *ngIf="isInDom" class="form-group form-inline d-inline-block mr-3">
    <div id="dropdown" ngbDropdown class="d-inline-block mr-1" [autoClose]="false" [container]="container" [placement]="placement">
      <button class="btn btn-outline-secondary" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu id="dropdownmenu">
        <button class="dropdown-item">Item</button>
      </div>
    </div>
  </div>
  <div class="d-inline-block ml-3">
    <button class="btn btn-outline-secondary mr-1" id="isInDom-true" (click)="isInDom = true">Add in dom</button>
    <button class="btn btn-outline-secondary mr-1" id="isInDom-false" (click)="isInDom = false">Remove from dom</button>

    <button class="btn btn-outline-secondary mr-1 ml-2" id="container-body" (click)="toggleContainer('body')">Append to body</button>
    <button class="btn btn-outline-secondary" id="container-null" (click)="toggleContainer(null)">Append to widget</button>

    <button class="btn btn-outline-secondary mr-1 ml-2" id="placement-top-left" (click)="togglePlacement('top-left')">On top-left</button>
    <button class="btn btn-outline-secondary mr-1" id="placement-bottom-left" (click)="togglePlacement('bottom-left')">On bottom-left</button>
    <button class="btn btn-outline-secondary mr-1 ml-2" id="placement-top-right" (click)="togglePlacement('top-right')">On top-right</button>
    <button class="btn btn-outline-secondary mr-1" id="placement-bottom-right" (click)="togglePlacement('bottom-right')">On bottom-right</button>
  </div>
  </form>