<div class="bd-sidebar">
  <div class="bd-sidebar">
    <nav>
      <div class="bd-toc-item">
        <a class="bd-toc-link" [routerLink]="['Home']">
          <h4>Home</h4>
        </a>
        <ul class="nav bd-sidenav">
          <li>
            <a [routerLink]="['Home']">Getting Started</a>
          </li>
        </ul>
      </div>
      <div class="bd-toc-item">
        <a class="bd-toc-link" [routerLink]="['Accordion']">
          <h4>Components</h4>
        </a>
        <ul class="nav bd-sidenav">
          <li>
            <a [routerLink]="['Accordion']">Accordion</a>
          </li>
          <li>
            <a href="#alerts">Alerts</a>
          </li>
          <li>
            <a href="#buttons">Buttons</a>
          </li>
          <li>
            <a href="#carousel">Carousel</a>
          </li>
          <li>
            <a href="#collapse">Collapse</a>
          </li>
          <li>
            <a href="#dateparser">Dateparser</a>
          </li>
          <li>
            <a href="#datepicker">Datepicker</a>
          </li>
          <li>
            <a href="#datepickerPopup">Datepicker Popup</a>
          </li>
          <li>
            <a href="#dropdown">Dropdown</a>
          </li>
          <li>
            <a href="#modal">Modal</a>
          </li>
          <li>
            <a href="#pager">Pager</a>
          </li>
          <li>
            <a href="#pagination">Pagination</a>
          </li>
          <li>
            <a href="#popover">Popover</a>
          </li>
          <li>
            <a href="#position">Position</a>
          </li>
          <li>
            <a href="#progressbar">Progressbar</a></li>
          <li>
            <a href="#rating">Rating</a>
          </li>
          <li>
            <a href="#tabs">Tabs</a>
          </li>
          <li>
            <a href="#timepicker">Timepicker</a>
          </li>
          <li>
            <a href="#tooltip">Tooltip</a>
          </li>
          <li>
            <a href="#typeahead">Typeahead</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
