<div class="bd-sidebar">
  <nav>
    <div class="bd-toc-item">
      <a class="bd-toc-link" [routerLink]="['/getting-started']">
        <h4>Home</h4>
      </a>
      <ul class="nav bd-sidenav">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/getting-started']">Getting Started</a>
        </li>
      </ul>
    </div>
    <div class="bd-toc-item">
      <a class="bd-toc-link" [routerLink]="['/components']">
        <h4>Components</h4>
      </a>
      <ul class="nav bd-sidenav">
        <li *ngFor="let component of components" [routerLinkActive]="['active']">
          <a [routerLink]="['/components', component.toLowerCase()]">{{ component }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
