<h3>Datepicker container tests</h3>

<ng-template #t let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal with nested datepicker</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<!-- container="body"-->
			<div class="mb-3">
				<label for="datepicker">Datepicker</label>
				<div class="input-group">
					<input
						id="datepicker"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
						[startDate]="{ year: 2022, month: 3 }"
						container="body"
					/>
					<button class="btn btn-outline-secondary" id="datepicker-button" (click)="dp.toggle()" type="button">
						Open
					</button>
				</div>
			</div>
		</form>
	</div>
</ng-template>

<button class="btn btn-outline-secondary ms-2" type="button" id="open-modal" (click)="openModal(t)">Open Modal</button>
